* {
	padding: 0px;
	margin: 0px;
}
body, html {
	height: 100%;
}

.bg1 {
	background: url("http://oi67.tinypic.com/rw3x49.jpg")no-repeat top right;
	background-size: cover;
}
    
.navbar {
   background-color: rgba(0, 0, 0, 0.5);
   font-family: 'Playfair Display', serif !important;
}

.top-nav-collapse {
   background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
/*Nave end*/

.title {
	font-family: 'Tangerine', cursive;
  	font-size: 90px;
  	font-weight: lighter;
}
.lifespan {
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	font-weight: lighter;
}
.profession {
	font-family: 'Open Sans Condensed', sans-serif;
  	font-size: 40px;
  	font-weight: lighter;
}
@media (max-width: 500px) {
	.title {
		font-size: 50px;
	}
	.lifespan {
		font-size: 20px;
	}
	.profession {
		font-size: 25px;
	}
}

/*End Section 1*/

/*----------SECTION INTRO----------*/
	.graybg {
	  display: inline-block;
	  width: 100%;
	  background: #f9f9f9;
	  padding-top: 90px;
	  padding-bottom: 50px;
	  color: #3a3a3a;
	}
	.sectiondate {
	  font-family: 'Baloo', cursive;
	  font-size: 30px;
	  margin-bottom: 30px;
	  text-align: center;
	}
	.sectiontitle {
	  font-family: 'Libre Baskerville', serif;
	  font-size: 45px;
	  font-weight: lighter;
	  margin-bottom: 30px;
	  text-align: center;
	  padding: 0px 15px;
	}
	.sectioninfo {
	  font-family: 'Baloo', cursive;
	  font-size: 25px;
	  padding-bottom: 20px;
	  text-align: center;
	}
	@media (max-width: 500px){
		.sectiontitle {
		  font-size: 30px;
		}
	}
/*----------SECTION INTRO END----------*/

.paratext {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

/*----------Section 3----------*/
html, body, header,
.jarallax {
  height: 100vh;
}

html, body, header,
.intro-2 {
  height: 700px;
}
.quote1 > p{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}



/*----------TIMELINE----------*/  

	.timeline {
	  background: #ffe8e8;
	  padding-bottom: 20px;
	}
	.timeline ul li {
	  font-family: 'PT Sans', sans-serif;
	  list-style-type: none;
	  position: relative;
	  width: 6px;
	  margin: 0 auto;
	  padding-top: 30px;
	  background: #fff;
	}
	.timeline ul li time {
	  font-family: 'Playfair Display', serif;
	}	 
	.timeline ul li::after {
	  content: '';
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  transform: translateX(-50%);
	  width: 30px;
	  height: 30px;
	  border-radius: 50%;
	  background: inherit;
	}
	.timeline ul li div {
	  position: relative;
	  bottom: 0;
	  width: 200px;
	  padding: 5px;
	  background: #ffffff;
	  border-radius: 10px;
	}	 
	.timeline ul li div::before {
	  content: '';
	  position: absolute;
	  bottom: 7px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	}
	.timeline ul li:nth-child(odd) div {
	  left: 45px;
	}	 
	.timeline ul li:nth-child(odd) div::before {
	  left: -15px;
	  border-width: 8px 16px 8px 0;
	  border-color: transparent #ffffff transparent transparent;
	}
	.timeline ul li:nth-child(even) div {
	  left: -240px;
	}	 
	.timeline ul li:nth-child(even) div::before {
	  right: -15px;
	  border-width: 8px 0 8px 16px;
	  border-color: transparent transparent transparent #ffffff;
	}
	@media (max-width: 500px) {
		.timeline ul li div {
			width: 100px;
		}
		.timeline ul li:nth-child(even) div {
		  left: -140px;
		}
	}
/*----------Timeline END----------*/